@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
    box-sizing: border-box;
    font-family: "Patrick Hand SC", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

canvas {
    background-color: gray;
    height: 90vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 4px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 0.5rem 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}