@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


canvas {
    background-color: gray;
    height: 90vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 4px;
    max-height: 100vh;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 0.5rem 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.explorerElement button {
    color: white;
    margin-left: 2px;
}

.red {
    background-color: rgb(228, 6, 25);
}

.red:hover {
    background-color: rgb(255, 65, 65);
}

.blue {
    background-color: rgb(6, 139, 228);
}

.blue:hover {
    background-color: rgb(31, 166, 245);
}

.subtext {
    color: gray;
    font-size: 0.9rem;
}